<h1>Join</h1>

<div class = 'new_user' >
<%= semantic_form_for @user do |f| %>
  
  <%= f.input :email %>
  <%= f.input :encrypted_password %>

  <%= f.input :file, :as => :file %>
  <%= f.input :folder, :as => :check_boxes %>

  <%= f.actions do %>
    <%= f.action :submit %>
  <% end %>

<% end %>
</div>
