<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <ul class="pull-left">
        </ul>
      <nav>
        <div class="navbar navbar-fixed-top navbar-text">
        <ul class="nav pull-right">
          <%= nav_bar("Corporations",    corporations_path) %>
          <%= nav_bar("Prices",       prices_path) %>
          <%= nav_bar("Fills",        fills_path) %>
          <%= nav_bar("Transactions", transactions_path) %>
          <%= nav_bar("Trades",       trades_path) %>
          <%= nav_bar("Profitability",        profitability_index_path) %>
        </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
